<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" bootstrap="./vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" failOnRisky="true" processIsolation="false" stopOnError="false" stopOnFailure="false" verbose="true">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src/</directory>
    </include>
    <report>
      <clover outputFile="clover-report.xml"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="phpstan-junit">
      <directory>tests/</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <php>
    <ini name="display_errors" value="On"/>
    <ini name="memory_limit" value="-1"/>
    <ini name="max_execution_time" value="0"/>
    <ini name="display_startup_errors" value="On"/>
    <ini name="error_reporting" value="E_ALL"/>
    <ini name="date.timezone" value="UTC"/>
  </php>
</phpunit>
