{
    "name": "mavimo/phpstan-junit-tests-integration",
    "authors": [
        {
            "name": "Marco Vito Moscaritolo",
            "email": "mavimo@gmail.com"
        }
    ],
    "minimum-stability": "dev",
    "require": {},
    "require-dev": {
        "phpstan/extension-installer": "^1.0",
        "phpstan/phpstan": "^0.12",
        "mavimo/phpstan-junit": "dev-${GITHUB_REF#refs/heads/}#${GITHUB_SHA}"
    }
}
