{
    "name": "magikid/phpstan-junit-tests-integration",
    "authors": [
        {
            "name": "Marco Vito Moscaritolo",
            "email": "mavimo@gmail.com"
        },
        {
            "name": "Chris W Jones",
            "email": "chris@christopherjones.us"
        }
    ],
    "repositories": [
        {
            "type": "vcs",
            "url": "../",
        }
    ],
    "minimum-stability": "dev",
    "require": {},
    "require-dev": {
        "phpstan/extension-installer": "^1.0",
        "phpstan/phpstan": "^0.12",
        "magikid/phpstan-junit": "dev-${GITHUB_REF#refs/heads/}#${GITHUB_SHA}"
    }
}
